.herosectioncontainer {
  position: relative;

  height: 100vh;

  margin-top: -12rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  z-index: -5;
}

.heroimage {
  height: 100%;
  width: 100%;

  position: absolute;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-image: url("./Homepage.png");

  z-index: -10;
}

.herotextsection {
  width: 60%;

  font-size: 3rem;
  border-radius: 5%;
  border: var(--emphasis);
}

.h1 {
  border-radius: 15px;
  display: inline-block;
  font-size: 6rem;
  font-weight: 700;
  line-height: 1.5;
  padding: 1rem 2rem;

  color: var(--highlight);
  background-color: var(--dark);
}

.searchbutton {
  display: inline-block;
  color: #2aa7ac;
  background-color: #000000;
  margin-top: 5rem;
  padding: 1rem 2rem;
  border: 2px solid skyblue;
  cursor: pointer;
  text-decoration: none;
  font-weight: 700;
}

.searchbutton:hover {
  background-color: var(--alternate);
  color: #0f0f0f;
}
